# Output files
*.vvp
*.vcd

# Vivado EDA files
vivado*
hs_*
*.cache
.metadata
*.data
*.ipdefs
.Xil
*.sdk
*.hw
*.ip_user_files
*.runs
*.sim
Xilinx_*

# Gowin EDA files
*/impl
*.gprj.user
Gowin_*

# compiled riscv toolchain
riscv32-gnu-toolchain.tar.gz

# neorv32-setups folder (it is downloaded automatically when loading the container)
neorv32-setups/
